h2{
    text-align: center;
    color: #00235B;
}
h3{
    text-align: center;
    color: #00235B;
}
h4{
            text-align: center;
}

img{
    height: 200px;
    width: 450px; 
    height: auto; 
    }
body{
    background-color: #B46060;
}
