h1{
    text-align: center;
}

h2{
    text-align: center;
}

body{
    
        background-color: #C88EA7;
  }

img{
    align-items: center;
    border-radius: 50px;
    width: 500px;
    height: 300px;
}

